* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #e7e7e7;
    --secondary-color: rgb(13, 14, 17);
    --primary-color-darker: rgb(197, 197, 197);
}

body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: 'JetBrains Mono';
    display: flex;
    flex-direction: column;
    gap: 5em;
    min-height: 100vh;
}

main {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.head {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.head > * {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--primary-color);
}

.filters {
    gap: 3em;
}

form {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

form .fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

table#flashcards-deck {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8em;
    border: 1px solid var(--primary-color);
}

.centered {
    text-align: center;
}

.unselectable {
    user-select: none;
}

#flashcards-learn {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#flashcards-learn #controls {
    display: flex;
    justify-content: space-between;
}

#flashcards-learn #controls button {
    width: 100px;
}   

table#flashcards-deck td, table#flashcards-deck th {
    padding: 3px;
}

td.cell-question, td.cell-answer {
    max-width: 30%;
    word-break: break-all;
}

tr.flashcards-row[data-learned="true"] {
    background-color: green;
    color: var(--primary-color);
}

tr.flashcards-row[data-learned="false"] {
    background-color: yellow;
    color: var(--secondary-color);
}

.head form input[type="text"]:valid {
    border: 1px solid green;
    border-radius: 2px;
}

.head form input[type="text"]:invalid {
    border: 1px solid red;
    border-radius: 2px;
}

input[type="text"]:focus {
    outline: none;
}

input[type="text"] {
    padding: 0 3px;
}

.active {
    transform: rotateY(180deg);
}

button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 2px;
    height: 20px;
    padding: 0 5px;
}

button:active {
    background-color: var(--primary-color-darker);
}

button:disabled {
    background-color: rgb(100, 100, 100);
    color: rgb(150, 150, 150);
    cursor: not-allowed;
}

button:disabled:active {
    background-color: rgb(100, 100, 100);
}